strawberry-graphql~=0.114.0
starlette~=0.20.2
uvicorn[standard]~=0.17.6
tortoise-orm[asyncpg]~=0.19.1
asyncpg_listen~=0.0.5
starlette-session~=0.4.2
pytest-aio~=1.4.1
requests~=2.25.1
pytest-cov~=3.0.0