@use "../../colors.scss";

.signIn {
  &_title {
    color: colors.$main;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;

    margin: 0 0 32px;
    cursor: default;
  }

  &_description {
    color: colors.$largeSubtext;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;

    margin: 0 0 64px;
    max-width: 448px;
    cursor: default;
  }
}
