$main: #3a63ce;
$main_hovered: #5179e1;
$main_shadow: 43 78 172;

$iu: #40ba21;
$iu_hovered: #44cf21;
$iu_shadow: 49 143 25;

$red: #ce3a31;
$red_hovered: #dc5a52;
$red_shadow: 165 46 39;

$largeSubtext: rgb(0 0 0 / 0.6);
